@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
html{
    overflow-x: hidden;
}
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    }
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 90px;
    position: relative;
}
.logo__img{
    padding-top: 27px;
}
.logo__link{
    display: block;
}
.nav{
    padding: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav__tab{
    padding: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.nav__menu{
    padding-top: 30px;
}
.tab__nav--menu{
    padding-top: 10px;
}
.nav__list,.tab__nav--list,.social{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.tab__nav--list span{
    font-size: 14px;
    color: #777;
}
.nav__link{
    width: 100%;
    font-size: 14px;
    line-height: 1.2em;
    padding-left: 21px;
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}
.tab__nav--link{
    width: 100%;
    font-size: 14px;
    line-height: 1.2em;
    padding-left: 21px;
    padding-right: 20px;
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}
.nav__link:hover,.tab__nav--link:hover{
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: 1s ease ;
}
.nav__link::after{
    background-color: #06060a;
}
#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}
.search__btn{
    position: absolute;
    top: -90%;
    left: 70%;
}
#custom-search-form .search-query {
    margin-top: 30px;
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition: width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}
#custom-search-form button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search-query:focus + button {
    z-index: 3;   
}   
.search-query:focus{
    width: 205px;
}
.agency{
    width: 100%;
    height: 650px;
    outline: none;
}
.agency__slide{
    
}
.agency__img{
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.agency__title{}
.agency__title h2{
    padding: 0px 2px 56px 11px;
    letter-spacing: 7px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 26%;
    height: 34px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.2em;
    text-transform: uppercase;
    background-color: black;
}
.agency__content p{
    padding-top: 15px;
    text-align: center;
    letter-spacing: 8px;
    position: absolute;
    top: 50%;
    left: 33%;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2em;
    text-transform: uppercase;
}
.design__title h2{
    padding: 0px 2px 56px 11px;
    letter-spacing: 7px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;
    height: 34px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.2em;
    text-transform: uppercase;
    background-color: black;
}
.design__content p{
    padding-top: 15px;
    text-align: center;
    letter-spacing: 7px;
    position: absolute;
    top: 50%;
    left: 36%;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2em;
    text-transform: uppercase;
}
.design__content p span{
    color: #DEDFE1;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2em;
}
.agency__img, .design__img{
    position: relative;
}
.fa-arrow-circle-left:before{
    position: absolute;
    top: 50%;
    margin: 5px;
    z-index: 2;
    cursor: pointer;
}
.fa-arrow-circle-right:before{
    position: absolute;
    top: 50%;
    left: 98%;
    margin: 5px;
    z-index: 2;
    cursor: pointer;
}
.slick-dots{
    top: 90%;
    height: 0px;    
}
i.fa-search:before{
    position: absolute;
    top: -90%;
    left: 70%;
}
.tab__nav{
    width: 100%;
    height: 60px;
    border: 1px solid #e1e1e1;
    margin-bottom: 29px;
}
.products{
    width: 100%;
    height: 1467px;
    background-color: whitesmoke;
}
.products__img{
    margin-top: 35px;
    margin-bottom: 0px;
    opacity: 0.6;
}
.products__img:hover{
    transition: 2s;
    opacity: 1;
}
.load__btn{
    text-align: center;
    margin-top: 37px;
    margin-bottom: 73px;
}
.btn{
    width: 125px;
    height: 30px;
    background-color: #959595;
    border-radius: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
}
footer{
    width: 100%;
    height: 300px;
}
.footer__logo{
    text-align: center;        
}
.footer__logo--img{
    margin-top: 64px;
    margin-bottom: 44px;
}
.social__media{
    border: 1px solid #ebebeb;
    width: 100%;
    height: 60px;
}
.social__item{
    padding: 10px 25px 0px;
}
.social__media .nav{
    text-align: center;
    justify-content: center;
}
.facebook__link,
.google__link,
.twitter__link,
.linkedin__link,
.dribble__link,
.pinterest__link,
.instagram__link{
    height: 14px;
    color: #777;
    font-size: 14px;
    line-height: 1.2em;
}
.facebook__link:hover{
    transition: 0.5s;
    color: #395498;
}
.google__link:hover{
    transition: 0.5s;
    color: #DC3C2A;
}
.twitter__link:hover{
    transition: 0.5s;
    color: #3FA6DA;
}
.linkedin__link:hover{
    transition: 0.5s;
    color:#0077B0;
}
.dribble__link:hover{
    transition: 0.5s;
    color: #E54786;
}
.pinterest__link:hover{
    transition: 0.5s;
    color: #B60719;
}
.instagram__link:hover{
    transition: 0.5s;
    color: #CB125A;
}
.last__footer{
    text-align: center;
}
.last__footer--title{
    padding-top: 36px;
}
.last__footer--title p{
    color: #9c9c9c;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3em;
    text-transform: uppercase;
}
.last__footer--title p span{
    color: black;
}
.heading{
    width: 100%;
    height: 350px;
}
.heading__agency h2{
    position: absolute;
    top: 22%;
    left: 3%;
    letter-spacing: 4px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.2em;
    text-transform: uppercase;
    background-color: black;
    padding-left: 33px;
    padding-right: 33px;
}
.heading__agency p{
    position: absolute;
    top: 34%;
    left: 3%;
    letter-spacing: 4px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2em;
    text-transform: uppercase;
}
.story{
    width: 100%;
    height: 698px;
}
.story__slide{
    padding-top: 73px;
}
.story__title{
    padding-top: 73px;
}
.story__title h3{
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
}
.story__title p{
    padding-top: 33px;
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.story__skills h3{
    padding-top: 39px;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
}
.pBar{
    background-color: white;
    border: 4px solid black;
    background-color: #a1a1a1;
}
.team{
    width: 100%;
    height: 982px;
    background-color: #FAFAFA;
}
.team h2{
    letter-spacing: 10px;
    padding-top: 72px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}
.team__title p{
    padding-top: 43px;
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}
.team__people{
    padding-top: 69px;
}
.team__people h3{
    padding-top: 30px;
    padding-left: 35px;
    font-family: 'Roboto', sans-serif;
    color: #041608;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
}
.team__people .team__people--title{
    padding-left: 35px;
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
}
.team__people p{
    padding-right: 40px;
    padding-left: 35px;
    font-family: 'Roboto', sans-serif;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
}
.nav__prev,
.nav__next,
.nav__show{
    text-align: center;
    color: #071f08;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    outline: none;
}