@import url('https://fonts.googleapis.com/css?family=Lato:700|Roboto:300,400,700');
body *, html *{
    box-sizing: border-box;
}
header{
    height: 91px;
}
.logo__link{

}
.logo__img{
    padding-top: 26px;
}
.nav{

}
.nav__menu{
    padding: 15px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav__link{
    padding-top: 26px;
    text-decoration: none;
    color: #767676;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link:hover{
    color:black;
    transition: .7s;
}
.search-box input {
    margin-top: 35px;
    margin-left: 15px;
    border: none;
    background: none;
    z-index: 50;
    width: 17px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: transparent;
    font-size: 1em;
    line-height: 25px;
}

.search-box input:hover{
    cursor: pointer;
}
.search-box input:hover:focus{
    cursor: text;
}
.search-box input:hover + span{
    background: rgba(255, 255, 255, .2);
    z-index: 1;
}
.search-box input:focus{
    width: 200px;
    padding: 0 10px;
    outline: none;
    color: black;
    background: none;
    color: black;
    z-index: 1;
}
.search-box input:focus + span{
    width: 200px;
    z-index: 1;
}
.search-box input:focus + span::before{
    width: 2px;
    opacity: 0;
    transition: all .25s ease-in;
    z-index: 1;
}
.search-box input + span{
    margin-top: 35px;
    margin-left: 15px;
    z-index: 1;
    position: absolute;
    border: 2px solid black;
    top: 0;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    border-radius: 25px;
    left: 84.7%;    
}
.search-box input + span::before{
    transition: all .25s ease-in .25s;
    transform-origin: left top;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: black;
    transform: rotate(45deg) translate(26px, -2px);
    z-index: 1;
}